@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1840px
************/

@media only screen and (max-width: 1840px)
{
	.main_nav
	{
	    margin-left: 30px;
	}
}

/************
1. 1760px
************/

@media only screen and (max-width: 1760px)
{
	.work_hours
	{
	    display: none;
	}
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.main_nav
	{
		margin-left: 54px !important;
	}
}


@media (min-width: 1440px) and (max-width: 1537px){
	a.header_phone {
    display: none;
}

}
/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.header_phone
	{
		display: none;
	}
	.why_image{
		right: 40px;
	}
	.why_image img {
    max-width: 100%;
}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.main_nav ul li:not(:last-child)
	{
		margin-right: 29px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_button
	{
		display: none;
	}
	.home
	{
		height: 525px;
	}
	.direct_line_num
	{
		font-size: 24px;
	}
	.cd-resize-img
	{
		right: 0px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	li:not(:last-child) {
    margin-right: 10px !important;
}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_social
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.contact_col
	{
		margin-top: 70px;
	}
	.google_map
	{
		height: 470px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.footer_location,
	.footer_contact
	{
		padding-top: 0;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.why_image {
    right: -35px;
    margin-bottom: 130px;
}
.team-readmore {
    width: 38%;
    }
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home
	{
		height: 444px;
	}
	.home_container
	{
		top: 200px;
	}
	.home_content
	{
		max-width: 100%;
		top: 20%;
	}
	.home_title
	{
		font-size: 48px;
	}
	.footer_bar_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer_nav
	{
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	h2
	{
		font-size: 36px;
	}
	.header.scrolled .header_content,
	.header_content
	{
		height: 60px;
	}
	.home
	{
		height: 365px;
	}
	.home_container
	{
		top: 154px;
	}
	.home_text
	{
		font-size: 13px;
	}
	.logo a > div:first-child
	{
		font-size: 24px;
	}
	.logo a > div:last-child
	{
		font-size: 10px;
	}
	.section_subtitle
	{
		font-size: 16px;
	}
	.header_content
	{
		padding-left: 15px;
		padding-right: 30px;
	}
	.button
	{
		height: 40px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 36px;
		padding-left: 31px;
		padding-right: 30px;
	}
	.home_title
	{
		font-size: 36px;
	}
	.google_map
	{
		height: 370px;
	}
	.newsletter
	{
		padding-bottom: 67px;
	}
	.newsletter_row
	{
		margin-top: 39px;
	}
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_input
	{
		width: calc(100% - 120px);
		height: 40px;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px !important;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px !important;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_button
	{
		width: 142px;
		height: 40px;
		font-size: 12px;
	}
	.opening_hours
	{
		left: auto;
		width: 100%;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	.team_item {
    width: 100%;
}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.why_image {
    right: 0;
    margin-bottom: 100px;
}	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	.button a {
    font-size: 10px;
}
.home_title {
    font-size: 24px;
}
}
@media only screen and (max-width: 364px)
{
	.button a {
    font-size: 7px;
}
}
@media only screen and (max-width: 325px)
{
	.intro_input {
     padding-left: 0;
     height: 50px;
} 
	.button a {
    font-size: 7px;
}
}