@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Contact
7. Newsletter
8. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(87,204,195,0.75);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #404040;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
h2.dentist {
    text-align: center;
    background: #0f0d35;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 20px;
}
.col-lg-4.team_col {
    padding: 20px 0px;
}
.price_panel a {
    color: #ffff;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light1.make-menu {
    background: #0f0d35 !important;
}
div#navbarNavAltMarkup a {
    background: #0f0d35 !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 10px 20px;
}
#navbarNavAltMarkup.navbar-nav a {
    background: #0f0d35 !important;
    color: white !important;
    font-weight: 600 !important;
    padding: 10px 20px !important;
}

.form-control
{
	color: #db5246;
}
.service_text p {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 16px;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
	border-radius: 20px;
}
.button a
{
	display: block;
	padding-left: 18px;
	padding-right: 18px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #ffff;
	border: solid 2px #0f0d35;
}
.button_1 a
{
	color: #000000;
}
.button_1:hover
{
	background: #8f2a94 !important;
	border: solid 2px #8f2a94;
}
.button_1:hover a
{
	color: #fff;
}
.button_2
{
	background: white;
    border: solid 2px #0f0d35;
}
.button_2 a
{
	color: #0f0d35;
}
.button_2:hover
{
	background: #9d2291;
}
.button_2:hover a
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #a6abb2;
	line-height: 0.75;
}
.section_title
{
	margin-top: 9px;
}
.intro_text
{
	margin-top: 32px;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background: #0f0d35;
}
.header_content
{
	width: 100%;
	height: 117px;
	padding-left: 100px;
	padding-right: 102px;
}
.header.scrolled .header_content
{
	height: 75px;
	box-shadow: 0px 5px 15px rgba(87,204,195,0.15);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #9d2291;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.main_nav
{
	margin-left: 58px;
}
.main_nav ul li a
{
	font-size: 15px;
	font-weight: 600;
	color: #ffff;
	white-space: nowrap;
}
.main_nav ul li a:hover,
.main_nav ul li.active a
{
	color: #9d2291;
}
.main_nav ul li:not(:last-child)
{
	margin-right: 28px;
}
.work_hours
{
	font-size: 15px;
	font-weight: 600;
	color: #ffff;
	margin-right: 26px;
	white-space: nowrap;
}
.header_phone
{
	height: 46px;
	border-radius: 20px;
	background: #ffff;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	color: #000000;
	margin-right: 12px;
}
.header_phone::selection
{
	background: rgba(64,64,64,0.75);
}
.header_button
{
	margin-right: 16px;
}
.social i {
    margin-top: 8px;
}
.social ul li
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #e6ebf1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	background: #9d2291;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.social ul li:not(:last-of-type)
{
	margin-right: 15px;
}
.social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	text-align: center;
}
.social ul li a i
{
	font-size: 16px;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(0,0,0,0.05);
}
.hamburger i
{
	font-size: 20px;
	color: #80338a;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #9d2291;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu_nav
{
	margin-top: 75px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.menu_social ul li:hover
{
	background: #404040;
}
.menu_social ul li:hover a i
{
	color: #FFFFFF;
}
.menu_extra
{
	margin-top: 50px;
}
.menu_extra > div:not(:last-child)
{
	margin-bottom: 5px;
}
.menu_link,
.menu_link a
{
	font-size: 13px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_link a:hover
{
	color: #FFFFFF;
}

/*********************************
5. Home
*********************************/

.home
{
	width: 100%;
	height: 625px;
}
.home_overlay
{
	z-index: 1;
}
.home_overlay img
{
	max-width: 100%;
}
.home_container
{
	position: absolute;
	top: 218px;
	left: 0;
	width: 100%;
}
.home_content
{
	max-width: 550px;
}
.home_title
{
	font-size: 49px;
	line-height: 1.2;
	font-weight: 500;
	color: #404040;
}
.home_text
{
	font-size: 14px;
	font-weight: 500;
	color: #828282;
	margin-top: 1px;
}

/*********************************
6. Contact
*********************************/

.contact
{
	background: #FFFFFF;
	padding-top: 51px;
	padding-bottom: 90px;
}
.contact_form_container
{
	width: 100%;
	background: #FFFFFF;
	padding-left: 33px;
	padding-right: 34px;
	padding-bottom: 63px;
	padding-top: 136px;
	box-shadow: 0px 25px 38px rgba(0,0,0,0.2);
}
.contact_form_title
{
	position: absolute;
	top: 0;
	left: 0;
	width: 336px;
	height: 80px;
	background: #0f0d35;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: #FFFFFF;
}
.contact_form
{
	width: 100%;
}
.contact_input
{
	width: calc((100% - 15px) / 2);
	height: 62px;
	background: transparent;
	border: solid 2px #e6ebf1;
	margin-bottom: 18px;
	padding-left: 25px;
	outline: none;
	font-size: 15px;
	color: #404040;
	font-weight: 500;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_select
{
	-webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
	cursor: pointer;
}
.contact_select.selected
{
	font-size: 15px !important;
	color: #404040 !important;
	font-weight: 500 !important;
	font-style: normal !important;
}
.contact_select option
{
	color: #404040;
}
.contact_input:focus,
.contact_input:hover
{
	border: solid 2px #9d2291;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
} 
.contact_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #a09f9f !important;
}
.contact_button
{
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	color: #8f2a94;
	text-transform: uppercase;
	border: solid 2px #8f2a94;
	cursor: pointer;
	margin-top: 24px;
}
.contact_button:hover
{
	background: #8f2a94 !important;
	border: solid 2px #8f2a94;
	color: #fff;
}
.contact_content_title
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
	margin-top: 32px;
}
.contact_content_text
{
	margin-top: 21px;
}
.direct_line
{
	width: 100%;
	height: 48px;
	border-radius: 24px;
	overflow: hidden;
	margin-top: 31px;
}
.direct_line_title
{
	width: 130px;
	height: 100%;
	font-size: 16px;
	font-weight: 500;
	line-height: 48px;
	color: #fff;
	background-color: #0f0d35;
	white-space: nowrap;
}
.direct_line_num
{
	width: calc(100% - 130px);
	height: 100%;
	font-size: 30px;
	font-weight: 500;
	line-height: 48px;
	color: #fff;
	background: #9d2291;
	white-space: nowrap;
}
.contact_info
{
	margin-top: 50px;
}
.contact_info ul li:not(:last-child)
{
	margin-bottom: 24px;
}
.contact_info ul li > div:first-of-type
{
	width: 90px;
	font-size: 18px;
	font-weight: 600;
	color: #9d2291;
	line-height: 1.34;
}
.contact_info ul li > div:last-of-type
{
	max-width: 170px;
	font-size: 15px;
	font-weight: 600;
	color: #878787;
	line-height: 1.6;
}
.contact_info a{
	color: #878787;
}
.contact_social
{
	margin-top: 43px;
}
.contact_social ul li:not(:last-of-type)
{
	margin-right: 22px;
}
.contact_social ul li a i
{
	color: #404040;
	padding: 10px;
	font-size: 20px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_social ul li a i:hover
{
	color: #9d2291;
}
.google_map_row
{
	margin-top: 90px;
}
.contact_map
{
	width: 100%;
}
.map
{
	width: 100%;
}
.google_map
{
	width: 100%;
	height: 570px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
7. Newsletter
*********************************/

.newsletter
{
	padding-top: 56px;
	padding-bottom: 82px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	line-height: 1.2;
}
.newsletter_row
{
	margin-top: 54px;
}
.newsletter_input
{
	width: calc(100% - 150px);
	height: 46px;
	background: transparent;
	border: solid 2px #e6ebf1;
	color: #000000;
	padding-left: 34px;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 167px;
	height: 46px;
	border-radius: 19px;
	background: #0f0d35;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*********************************
8. Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	background: #26292d;
}
.footer_content
{
	padding-top: 94px;
	padding-bottom: 51px;
}
.footer_about
{
	padding-top: 19px;
}
.footer_logo a > div:first-child
{
	font-size: 24px;
	font-weight: 700;
	line-height: 0.75;
	color: #FFFFFF;
}
.footer_logo a > div:first-child span
{
	color: #9d2291;
	margin-left: 7px;
}
.footer_logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.footer_about_text
{
	margin-top: 42px;
}
.footer_about_text p
{
	color: #868686;
}
.footer_title
{
	font-size: 16px;
	font-weight: 500;
	color: #FFFFFF;
	line-height: 1.2;
}
.footer_contact
{
	padding-top: 40px;
}
.contact_list
{
	margin-top: 44px;
}
.contact_list li
{
	font-size: 15px;
	font-weight: 500;
	color: #878787;
}
.contact_list li:not(:last-child)
{
	margin-bottom: 12px;
}
ul.contact_list a {
    color: #a5a5a5;
}
.footer_location
{
	padding-top: 40px;
}
.locations_list
{
	max-width: 180px;
	margin-top: 42px;
}
.locations_list li
{
	line-height: 1.6;
}
.locations_list li:not(:last-child)
{
	margin-bottom: 19px;
}
.location_title
{
	font-size: 15px;
	font-weight: 500;
	color: #a5a5a5;
}
.location_text
{
	margin-top: 13px;
}
.opening_hours
{
	left: -32px;
	width: calc(100% + 67px);
	padding-left: 32px;
	padding-right: 35px;
	padding-top: 38px;
	padding-bottom: 40px;
	border: solid 2px #4d5157;
}
.opening_hours_list
{
	margin-top: 44px;
}
.opening_hours_list li
{
	white-space: nowrap;
}
.opening_hours_list li:not(:last-child)
{
	margin-bottom: 9px;
}
.footer_bar
{
	width: 100%;
	background: #181a1d;
}
.footer_bar_content
{
	height: 49px;
}
.copyright
{
	font-size: 12px;
	font-weight: 500;
	color: #646464;
}
.footer_nav ul li:not(:last-child)
{
	margin-right: 29px;
}
.footer_nav ul li a
{
	font-size: 12px;
	font-weight: 500;
	color: #818181;
}
.footer_nav ul li a:hover
{
	color: #9d2291;
}
.services .container {
    max-width: 1500px !important;
}
.service.text-center.my-style{
	box-shadow: 0 8px 15px rgb(245, 236, 236);
    padding: 50px;
}
.service.text-center.my-style:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.my-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 70px;
    line-height: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.portfolio-head img {
    max-width: 100%;
    height: auto;
}
ul.portfolio-social {
    text-align: center;
    padding: 16px;
    margin-top: 10px;
    border: 2px solid #e0e2ec;
}
ul.portfolio-social:hover {
    border-color: #fff;
    background: #fff;
    transform: scale(1.03);
    box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.14);
    transition: all .3s ease;
}
ul.portfolio-social li {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #e0e2ec;
    text-align: center;
    line-height: 30px;
    margin: 5px;
}
ul.portfolio-social li:hover {
    background: -webkit-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -moz-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -o-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: -ms-linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
    background: linear-gradient(90deg,#265eb3 0%,#85f3f9 100%);
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
.portfolio-social a i.fa {
    color: #fff;
}
.text {
    padding: 0px 10px;
}
.text h4 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    position: relative;
}
.text h2 {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.625em;
    position: relative;
}
.text p {
	color: #777;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.625em;
}
.dropdown-menu.show a.dropdown-item {
    color: #0f0d35 !important;
    text-transform: uppercase;
}
.dropdown-menu.show a.dropdown-item:hover {
    background: #0f0d35 !important;
    color: white !important;
}
.apple {
    margin: 0 auto;
}
.blog_post {
    text-align: center;
}